@model ecomerce.Models.departamentos

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center text-primary mb-4">@ViewBag.Title</h2>

<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="card-title">Editar Departamento</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.departamento_id)

                    <div class="form-group row">
                        @Html.LabelFor(model => model.nombre_departamento, htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.nombre_departamento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombre_departamento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input type="submit" value="Guardar" class="btn btn-success btn-lg shadow-lg" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="card-footer text-center">
            @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-info btn-sm" })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
