@model IEnumerable<ecomerce.Models.departamentos>

@{
    ViewBag.Title = "Departamentos";
}

<div class="container">
    <h2 class="text-center text-primary mb-4">@ViewBag.Title</h2>

    <div class="mb-3">
        @Html.ActionLink("Crear Nuevo Departamento", "Create", null, new { @class = "btn btn-success" })
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.nombre_departamento)</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.nombre_departamento)</td>
                    <td class="text-center">
                        @Html.ActionLink("Editar", "Edit", new { id = item.departamento_id }, new { @class = "btn btn-warning btn-sm me-2" }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.departamento_id }, new { @class = "btn btn-info btn-sm me-2" }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.departamento_id }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
